// Edit botKey and webHookLink
const botToken = "<<INSERT BOT TOKEN HERE>>";
const deploymentId = "<<INSERT DEPLOYMENT ID HERE>>";
const breakfastMenu = "<<INSERT BREAKFAST MENU ID HERE>>";
const lunchMenu = "<<INSERT LUNCH MENU ID HERE>>"

// Run function setWebHook
const telegramUrl = "https://api.telegram.org/bot" + botToken;
const webHookLink = "https://script.google.com/macros/s/" + deploymentId + "/exec";
function setWebHook() {
    UrlFetchApp.fetch(telegramUrl + "/setWebHook?url=" + webHookLink + "?=" +botToken);
}

function deleteWebHook() {
    UrlFetchApp.fetch(telegramUrl + "/deleteWebHook");
}