// Edit botKey and webHookLink
const botKey = "<<INSERT BOT KEY HERE>>";
const webHookLink = "<<INSERT WEBHOOK LINK HERE>>";

// Run function setWebHook
const telegramUrl = "https://api.telegram.org/bot" + botKey;
function setWebHook() {
    UrlFetchApp.fetch(telegramUrl + "/setWebHook?url=" + webHookLink);
}

function deleteWebHook() {
    UrlFetchApp.fetch(telegramUrl + "/deleteWebHook");
}