// Edit your Ids here
const botToken = '<<INSERT BOT TOKEN HERE>>';
const deploymentId = '<<INSERT DEPLOYMENT ID HERE>>';
const botName = '@<BOT NAME HERE>';
const breakfastMenu = '<<INSERT BREAKFAST MENU ID HERE>>';
const lunchMenu = '<<INSERT LUNCH MENU ID HERE>>'
const firstMonday = 'YYYY-MM-DD' // date of first monday when meals are served
