// Edit your Ids here
const botToken = '<<INSERT BOT TOKEN HERE>>';
const botName = '@<BOT NAME HERE>';
const deploymentId = '<<INSERT DEPLOYMENT ID HERE>>';
const breakfastMenuSheetId = '<<INSERT BREAKFAST MENU ID HERE>>';
const dinnerMenuSheetId = '<<INSERT DINNER MENU ID HERE>>'