// Edit your Ids here
const botToken = '<<INSERT BOT TOKEN HERE>>';
const deploymentId = '<<INSERT DEPLOYMENT ID HERE>>';
const breakfastMenu = '<<INSERT BREAKFAST MENU ID HERE>>';
const lunchMenu = '<<INSERT LUNCH MENU ID HERE>>'
const firstMonday = 'YYYY-MM-DD' // date of first monday when meals are served

// constants
const START_DATE = new Date(firstMonday);
const SECONDS_IN_DAY = 1000 * 3600 * 24;

// Run function setWebHook
const telegramUrl = 'https://api.telegram.org/bot' + botToken;
const webHookLink =
  'https://script.google.com/macros/s/' + deploymentId + '/exec';

function setWebHook() {
  return UrlFetchApp.fetch(
    telegramUrl + '/setWebHook?url=' + webHookLink + '?=' + botToken
  );
}


function deleteWebHook() {
  UrlFetchApp.fetch(telegramUrl + '/deleteWebHook');
}
